text {text-anchor:middle; font-family:Arial,sans-serif; font-size:11px;}
text.axis-title {font-size:13px; font-weight:bold;}
text.axis-label-y {text-anchor:end;}
text.axis-label-x {text-anchor:middle;}
line {stroke:black;}
line.axis {stroke:#999; stroke-width:2;}
line.hrule {width:1; stroke:black; stroke-dasharray:1,2;}
line#vertical {width:1; stroke:#999;}
polyline {stroke-width:1; stroke:black; fill:none;}
polyline#bau {stroke-width:2; stroke:#555;}
polyline#historical {stroke-width:4; stroke:#555;}
polyline#gdrsalloc {stroke-width:4; stroke:#0066b3;}
polyline#physical {stroke-width:4; stroke:#7e9f51; stroke-dasharray:4,4;}
polygon {stroke-width:0; stroke:black; fill-opacity:0.8;}
polygon#mitoblig {fill:#e6b350;}
polygon#intloblig {fill:#e6b350;}
polygon#intloblig {fill:url(#intlobligstripes);}
pattern#intlobligstripes line.stripe {stroke:#c2823e; stroke-width:10;}
polygon#supportedmit {fill:#e6e6e6;}
.uncond-glyph {stroke:#000;stroke-width:1px;fill:#ff3c3c;}
.cond-glyph {stroke:#000;stroke-width:1px;fill:#96dcff;}

/* colors *******************
  #e6b350 ochre 100% (domestic mitigation before opacity reduction)
  #c2823e brown ltr (international obligation stripe)
  #0066b3 blue (GDRs obligation line)
  #7e9f51 green (physical reductions line)
  #e6e6e6 gray (supported mitigation)
  rgb(255,60,60) #ff3c3c red (unconditional glyph)
  rgb(150,220,255) #96dcff light blue (conditional glyph)

*/