# for each URL that doesn't point to an actually existing file or directory,
# point back to index.php and pass the URL path as parameter
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*)$ /charts/index.php?params=$1 [NC,L,QSA]


# depreciated stuff. keeping it for now just in case
# 
#
#RewriteEngine On
#
#RewriteRule ^(*).svg/?$ http://calculator.climateequityreference.org/charts/index.php?params=$1 [P,QSA]
#RewriteRule ^(*).jpg/?$ http://calculator.climateequityreference.org/charts/index.php?params=$1 [P,QSA]
#RewriteRule ^(*).png/?$ http://calculator.climateequityreference.org/charts/index.php?params=$1 [P,QSA]

#RewriteRule ^([a-zA-Z0-9-]+).svg/?$ http://calculator.climateequityreference.org/charts/index.php?iso3=$1 [P,QSA]
#RewriteRule ^([a-zA-Z0-9-]+)_eff.svg/?$ http://calculator.climateequityreference.org/charts/index.php?view=eff&iso3=$1 [P,QSA]
#RewriteRule ^([a-zA-Z0-9-]+)_res.svg/?$ http://calculator.climateequityreference.org/charts/index.php?view=res&iso3=$1 [P,QSA]

#RewriteRule ^([a-zA-Z0-9-]+).jpg/?$ http://calculator.climateequityreference.org/charts/index.php?type=jpg&iso3=$1 [P,QSA]
#RewriteRule ^([a-zA-Z0-9-]+)_eff.jpg/?$ http://calculator.climateequityreference.org/charts/index.php?type=jpg&view=eff&iso3=$1 [P,QSA]
#RewriteRule ^([a-zA-Z0-9-]+)_res.jpg/?$ http://calculator.climateequityreference.org/charts/index.php?type=jpg&view=res&iso3=$1 [P,QSA]

#RewriteRule ^([a-zA-Z0-9-]+).png/?$ http://calculator.climateequityreference.org/charts/index.php?type=png&iso3=$1&$2 [P,QSA]
#RewriteRule ^([a-zA-Z0-9-]+)_eff.png/?$ http://calculator.climateequityreference.org/charts/index.php?type=png&view=eff&iso3=$1 [P,QSA]
#RewriteRule ^([a-zA-Z0-9-]+)_res.png/?$ http://calculator.climateequityreference.org/charts/index.php?type=png&view=res&iso3=$1 [P,QSA]
