text {text-anchor:middle; font-family:Arial,sans-serif; font-size:11px;}
text.axis-title {font-size:13px; font-weight:bold;}
text.axis-label-y {text-anchor:end;}
text.axis-label-x {text-anchor:middle;}
line {stroke:black;}
line.axis {stroke:#366092; stroke-width:2;}
line.yaxis {stroke:#366092; stroke-width:2;}
line.hrule {width:1; stroke:black; stroke-dasharray:1,2;}
polyline {stroke-width:1; stroke:black; fill:none;}
polyline#historical {stroke-width:4; stroke:#555;}
polyline#gdrsalloc {stroke-width:4; stroke:#0066b3;}
polyline#physical {stroke-width:4; stroke:#7e9f51; stroke-dasharray:4,4;}
polygon {stroke-width:0; stroke:black; fill-opacity:0.8;}
polygon#mitoblig {fill:#e6b350;}
polygon#intloblig {fill:#e6b350;}
polygon#intloblig {fill:url(#intlobligstripes);}
pattern#intlobligstripes line.stripe {stroke:#c2823e; stroke-width:10;}
polygon#supportedmit {fill:#e6e6e6;}
.uncond-glyph {stroke:#000;stroke-width:1px;fill:#ff3c3c;}
.cond-glyph {stroke:#000;stroke-width:1px;fill:#96dcff;}

.wedge_eff { fill: #92D050; fill-opacity: 0.5; } 
.wedge_res { fill: #6092E0; fill-opacity: 0.5; }
.neg_area { fill: #D9D9D9; fill-opacity: 0.5; }

.lfl_bar_green{ fill: #00B050; fill-opacity: 0.7; }
.lfl_bar_yellow{ fill: #FFFF00; fill-opacity: 0.7; }
.lfl_bar_red{ fill: #FC4C4E; fill-opacity: 0.8; }

.bau {fill: none; stroke: #555; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1,5; }

.high_eff {fill: none;stroke: #4F81BD;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;}
.medium_eff { fill: none; stroke: #FFC000;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;}
.low_eff{fill: none;stroke: #FF0000;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;}
 
.high_res{fill: none;stroke: #4F81BD;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;stroke-dasharray: 4,5;}
.medium_res{fill: none;stroke: #FFC000;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;stroke-dasharray: 4,5;}
.bonus_res{fill: none;stroke: #FC4C4E;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;stroke-dasharray: 4,5;}
.low_res{fill: none;stroke: #FC4C4E;stroke-width: 2;stroke-linecap: round;stroke-linejoin: round;stroke-dasharray: 4,5;}
                    
.noline {stroke:none;fill:none;}

.historical {stroke-width:4; stroke:#555;}


/* colors *******************
  #e6b350 ochre 100% (domestic mitigation before opacity reduction)
  #c2823e brown ltr (international share stripe)
  #0066b3 blue (CERP share line)
  #7e9f51 green (physical reductions line)
  #e6e6e6 gray (supported mitigation)
  rgb(255,60,60) #ff3c3c red (unconditional glyph)
  rgb(150,220,255) #96dcff light blue (conditional glyph)

*/