# it's not mandatory, but strongly recommended to protect this diretory somehow. 
# if the path/to/your/.htpasswd-file doesn't actually point to a valid password file 
# visitors will get a HTTP 500 Server error, which also works for keeping them out :)
# in the case that you don't want to protect this directory (again, we don't recommend this!) 
# simply delete this .htaccess file

AuthType	Basic
AuthName	"This is not a public directory. Enter your credentials if you're allowed to be here."
AuthUserFile	/path/to/your/.htpasswd-file
require	valid-user